.container-main {
    width: 100vw;
    min-height: 100vh;
}

.title-elements {
    font-size: 40px;
}

.title-elements::after {
    content: ' />';
    color: #0084E3;
}

.title-elements::before {
    content: '<';
    color: #0084E3;
}