.card-container {
    width: 350px;
    height: 190px;
    border: 1px solid black;
    margin: auto;
    /* margin-bottom: 10px; */
    margin-top: 45px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
}

.card-container:hover {
    -webkit-box-shadow: 0px 0px 20px -5px rgba(#0084E3);
    box-shadow: 0px 0px 20px -5px rgba(#0084E3);
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    /* border: 1px solid blue; */
}

.img-container img {
    height: 150px;
}

.description-container {
    width: 200px;
    padding: 9px;
    /* border: 1px solid blueviolet; */
}

.description-container p {
    font-size: 15px;
    text-align: left;
}